<!-- Header 1 start -->

<div style="
    padding-top: 10px;
    color: white;
    background-color: #2d3e50;
    justify-content: space-evenly;
    display: flex;
    font-size: 15px;
  ">
    <p class="none">Have any question? +968 547856 254</p>
    <div style="display: flex">
        <p class="none" style="padding-right: 2rem">Phone +0123456789</p>
        <p>Email: educate@email.com</p>
    </div>
</div>

<!-- Header 1 end -->

<!-- Header 2 start -->

<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" style="
        padding-left: 15%;
        padding-right: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
      " href=" # "><img src="../../../assets/logo.png " alt=" " /></a>
        <a class="navbar-brand block d-none" aria-current="page " href="# ">HOME</a>
        <button class="navbar-toggler" type="button " data-bs-toggle="collapse " data-bs-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="# ">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="# ">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="# ">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="# ">PAGES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="# ">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="# ">CONTACT</a>
                </li>
                <li class="nav-item">
                    <div style="height: 30px; width: 30px; color: #2d3e50">
                        <a class="nav-link active btns" href="# ">
                            <img class="img" src="../../../assets/search.svg " alt=" " />
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header 2 end -->