<div class="single-item-image overlay-effect">
    <a href="#"><img src="{{ img }}" alt="" /></a>
</div>
<div class="single-item-text">
    <h4>
        <a href="#">{{ title }}</a>
    </h4>
    <div class="single-item-text-info">
        <span>By: <span>{{ author }}</span></span>
        <span>Date: <span>20.5.15</span></span>
    </div>
    <p>
        There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo ur,There are many but the mri have suffered alteration in some
    </p>
    <div class="single-item-content">
        <div class="single-item-comment-view">
            <span><img id="img" src="../../../assets/eye.png" alt="" />59</span>
            <span style="padding-left: 20px;"><img id="img" src="../../../assets/chat.png" alt="" />19</span>
        </div>
        <div class="single-item-rating">
            <img src="../../../assets/star.png" id="img" alt=" " />
            <img src="../../../assets/star.png" id="img" alt=" " />
            <img src="../../../assets/star.png" id="img" alt=" " />
            <img src="../../../assets/star.png" id="img" alt=" " />
            <img src="../../../assets/rating.png" id="img" alt=" " />
        </div>
    </div>
</div>